/*General styles*/
* {
    font-size: 20px;
}

/*Style for the header*/
.banner {
    background: linear-gradient(to right, #e66465, #9198e5, #38BDEB);
    height: 6rem;
}

/*Styles for the search history*/
.history_button button{
    background-color: #AAA6AD;
}

/*Style for the forecast*/
.forecast {
    background-color: rgba(56, 189, 235, 0.5);
}

.forecast p {
    font-size: 0.9rem;
}

/*Style for the uv index backgroud*/
.low-uv {
    background-color: greenyellow;
}

.moderate-uv {
    background-color: yellow;
}

.high-uv {
    background-color: red;
}